<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="row">
    <div class="col-lg-12">
        <div style="float: right">
            <select id='reg_total' class="selectpicker" >
                <option>month</option>
                <option>day</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i> 注册学生趋势(总)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="student_reg_stock" style="height:400px"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 注册学生地区分布
                    <div  style="float:right">
                        <div class="input-group input-daterange">
                            <input id="from_date" type="text" class="form-control" value=""/>
                            <span class="input-group-addon">to</span>
                            <input id="to_date" type="text" class="form-control" value=""/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student_reg_city_spread" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 体验学员地区分布
                    <div  style="float:right">
                        <select id='type_select' class="selectpicker" >
                            <option>所有</option>
                            <option>青少年</option>
                            <option>商务</option>
                            <option>应试</option>
                            <option>综合</option>
                            <option>其它</option>
                        </select>
                    </div>
                    <div  style="float:right">
                        <div class="input-group input-daterange">
                            <input id="from_date2" type="text" class="form-control" value=""/>
                            <span class="input-group-addon">to</span>
                            <input id="to_date2" type="text" class="form-control" value=""/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="trail_student_direction_spread" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        var reg_his_element = $('#student_reg_stock');
        var reg_his_url = "/reg/get_reg_daily_activity";
        var seriesName = "注册量";
        var reg_his_duration = $('#reg_total').find("option:selected").val();
        createSimpleHighStock(reg_his_element, reg_his_url,seriesName, reg_his_duration);
        $('#reg_total').on('change', function(){
            var reg_his_duration = $(this).find("option:selected").val();
            createSimpleHighStock(reg_his_element, reg_his_url,seriesName, reg_his_duration);
        });

        var reg_city_element=$('#student_reg_city_spread');
        var reg_city_url="/reg/get_reg_city/";
        var reg_city_remark="地区";
        var fromDate=$('#from_date');
        var toDate=$('#to_date');
        fromDate.datepicker({
            startDate:"-3y",
            todayHighlight:true,
            format:'yyyy-m-d',
            antoclose:true
        });
        toDate.datepicker({
            startDate:"-3y",
            todayHighlight:true,
            format:'yyyy-m-d',
            antoclose:true
        });
        var date=new Date();
        var dateFormatted_to;
        var dateFormatted_from;
        if(date.getDate()==1){
            dateFormatted_from=date.getFullYear()+"-"+date.getMonth()+"-1";
        }else{
            dateFormatted_from=date.getFullYear()+"-"+(date.getMonth()+1)+"-1";
        }
        if(date.getDate()==1){
            dateFormatted_to=date.getFullYear()+"-"+date.getMonth()+"-"+getLastDay(date.getFullYear(),date.getMonth());
        }else{
            dateFormatted_to=date.getFullYear()+"-"+(date.getMonth()+1)+"-"+(date.getDate()-1);
        }
        fromDate.datepicker("setDate",dateFormatted_from);
        toDate.datepicker("setDate",dateFormatted_to);
        var timeRange=fromDate.datepicker('getFormattedDate')+"---"+toDate.datepicker('getFormattedDate');
        createSimpleColumnHighcharts(reg_city_element,reg_city_url,timeRange,reg_city_remark);
        fromDate.on("changeDate", function() {
            timeRange=fromDate.datepicker('getFormattedDate')+"---"+toDate.datepicker('getFormattedDate');
            createSimpleColumnHighcharts(reg_city_element,reg_city_url,timeRange,reg_city_remark)
        });
        toDate.on("changeDate", function() {
            timeRange=fromDate.datepicker('getFormattedDate')+"---"+toDate.datepicker('getFormattedDate');
            createSimpleColumnHighcharts(reg_city_element,reg_city_url,timeRange,reg_city_remark)
        });

        var experience_city_element=$('#trail_student_direction_spread');
        var experience_city_url="/reg/get_experience_city/";
        var fromDate2 =  $('#from_date2');
        var toDate2 =  $('#to_date2');
        var typeSelect =  $('#type_select');
        fromDate2.datepicker({
            startDate: "-3y",
            todayHighlight: true,
            format : 'yyyy-m-d',
            autoclose: true
        });
        toDate2.datepicker({
            startDate: "-3y",
            todayHighlight: true,
            format : 'yyyy-m-d',
            autoclose: true
        });
        fromDate2.datepicker('setDate',dateFormatted_from);
        toDate2.datepicker('setDate',dateFormatted_to);
        var type=typeSelect.find("option:selected").val();
        var typeNumber = get_type_by(type);
        var timeRange2=fromDate2.datepicker('getFormattedDate')+"---"+toDate2.datepicker('getFormattedDate')+"---"+typeNumber;
        createColumnHighcharts(experience_city_element,experience_city_url,timeRange2,type);
        typeSelect.on('change', function(){
            type=typeSelect.find("option:selected").val();
            typeNumber = get_type_by(type);
            timeRange2=fromDate2.datepicker('getFormattedDate')+"---"+toDate2.datepicker('getFormattedDate')+"---"+typeNumber;
            createColumnHighcharts(experience_city_element,experience_city_url,timeRange2,type);
        });
        fromDate2.on("changeDate", function() {
            type=typeSelect.find("option:selected").val();
           typeNumber = get_type_by(type);
            timeRange2=fromDate2.datepicker('getFormattedDate')+"---"+toDate2.datepicker('getFormattedDate')+"---"+typeNumber;
            createColumnHighcharts(experience_city_element,experience_city_url,timeRange2,type);
        });
        toDate2.on("changeDate", function() {
            type=typeSelect.find("option:selected").val();
            typeNumber = get_type_by(type);
            timeRange2=fromDate2.datepicker('getFormattedDate')+"---"+toDate2.datepicker('getFormattedDate')+"---"+typeNumber;
            createColumnHighcharts(experience_city_element,experience_city_url,timeRange2,type);
        });


    });
</script>
</body>
</html>