<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-1">
        <p class="control-label"><strong class="height"> 时间：</strong></p>
    </div>
    <div class="col-lg-11">
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="begin-time">BeginTime</label>
                <div class='input-group date' id='begin-time'>
                    <input class="form-control" type="text" id="bTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="to-time">ToTime</label>
                <div class='input-group date' id='to-time'>
                    <input class="form-control" type="text" id="tTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 height">
        <p class="control-label"><strong class="height">教材：</strong></p>
    </div>
    <div class="col-lg-11">
        <select class="selectpicker" data-live-search="true" id="book">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 height">
        <p class="control-label"><strong class="height">学生等级：</strong></p>
    </div>
    <div class="col-lg-11" id="studentLevels">
        <span class="option-text active">ALL</span>
    </div>
</div>
<div class="row">
    <div style="height: 50px"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i> 选课量
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="book_rank_choose_class" style="height:400px"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="book_rank_choose_class_table">
                        <thead>
                        <tr>
                            <th>等级</th>
                            <th>选课量</th>
                            <th>选课人数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i> 年龄分布
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="book_rank_age" style="height:400px"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="book_rank_age_table">
                        <thead>
                        <tr>
                            <th>等级</th>
                            <th>年龄段</th>
                            <th>选课人数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div style="float: right">
            <select id='compare_select' class="selectpicker">
                <option>month</option>
                <option>week</option>
                <option>day</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i> 选课分布对比
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="book_rank_choose_class_compare" style="height:400px"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="book_rank_choose_class_compare_table">
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>教材</th>
                            <th>选课人数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-autocomplete/jquery.autocomplete.min.js}"></script>
<script>
    // <![CDATA[

    $(document).ready(function () {
        var beginTime = $('#begin-time');
        var toTime = $('#to-time');
        var yDay;
        var tDay;
        var limitDay;
        var date = new Date();
        if(date.getMonth()==0){
            yDay=(date.getFullYear()-1) + "-12-1 00:00";
            tDay=(date.getFullYear()-1) + "-12-31 00:00";
            limitDay=(date.getFullYear()-1) + "-11-01 00:00";
        }else{
            yDay= date.getFullYear() + "-" + date.getMonth() + "-1 00:00";
            tDay= date.getFullYear() + "-" + date.getMonth() + "-" + getLastDay(date.getFullYear(), date.getMonth())+" 23:59";
            limitDay=date.getFullYear()+"-"+(date.getMonth()-1)+"-1 00:00";
        }
        $('#bTimeInput').val(yDay);
        $('#tTimeInput').val(tDay);
        beginTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
//            startDate: "2016-10-14 10:00",
            useCurrent: false
        });
        toTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        beginTime.on("dp.change", function (e) {
            createDraw();
            if(checkTime(limitDay)){
                createCompare();
            }
        });
        toTime.on("dp.change", function (e) {
            createDraw();
            if(checkTime(limitDay)){
                createCompare();
            }
        });
        $('#book').on("change",function () {
            createDraw();
        });
        var dateformatted_to;
        var dateformatted_from;
        if(date.getMonth()==0){
            dateformatted_from = (date.getFullYear()-1) + "-12-"+(date.getDate()-1);
        }else{
            dateformatted_from = date.getFullYear() + "-" + date.getMonth() + "-"+(date.getDate()-1);
        }
        dateformatted_to=date.getFullYear() + "-" + (date.getMonth()+1) + "-"+(date.getDate()-1);
        var time = dateformatted_from + "---" + dateformatted_to;
        var books=document.getElementById("book");
        $.ajax({
            url: '/class/get_book/'+time,
            type:'GET',
            data:'',
            success:function (data) {
                data.forEach(function (element) {
                    var objOption = new Option(element[0]);
                    books.add(objOption);
                });
                $('.selectpicker').selectpicker();
                createDraw();
                createCompare();
            },
            error:function () {
            }
        });
        var studentLevels=$('#studentLevels');
        $.ajax({
            url: '/class/get_student_levels',
            type:'GET',
            data:'',
            success:function (data) {
                $.each(data,function (n,value){
                    addBooks(studentLevels,value);
                });
                studentLevels.find("> span").each(function (index) {
                    $(this).unbind('click');
                    $(this).on("click", function () {
                        $(this).addClass("active");
                        $(this).nextAll().removeClass("active");
                        $(this).prevAll().removeClass("active");
                        createDraw();
                        createCompare();
                    });
                });
            },
            error:function () {
            }
        });
    });
    function checkTime(lTime) {
        var bTime=$('#begin-time').find("> input").val();
        return dateToUnix(bTime) < dateToUnix(lTime);
    }
    function createDraw() {
        $('.selectpicker').selectpicker();
        var chooseBook= $('#book').find("option:selected").val();
        var studentLevel=$('#studentLevels').find('span[class="option-text active"]').text();
        var bTime=$('#begin-time').find("> input").val();
        var tTime=$('#to-time').find("> input").val();
        var class_element=$('#book_rank_choose_class');
        var class_url="/class/get_book_rank_choose_class/";
        var age_element=$('#book_rank_age');
        class_element.html("");
        age_element.html("");
        var date = new Date();
        var age_url="/class/get_book_rank_age/";
        var limitTime;
        if(date.getMonth()==1){
            limitTime=(date.getFullYear()-1)+"-11-1 00:00";
        }else{
            limitTime=date.getFullYear() + "-" + (date.getMonth()-1) + "-1 00:00";
        }
        if(dateToUnix(bTime)<dateToUnix(limitTime)){
            bTime=limitTime;
        }
        var dateformatted_to;
        var dateformatted_from;
        if(date.getMonth()==0){
            dateformatted_from = (date.getFullYear()-1) + "-12-"+(date.getDate()-1);
        }else{
            dateformatted_from = date.getFullYear() + "-" + date.getMonth() + "-"+(date.getDate()-1);
        }
        dateformatted_to=date.getFullYear() + "-" + (date.getMonth()+1) + "-"+(date.getDate()-1);
        var timeBook = dateformatted_from + "---" + dateformatted_to;
        var title=bTime+"---"+tTime+"---"+chooseBook+"---"+studentLevel;
        $.ajax({
            url: '/class/get_book/'+timeBook,
            type:'GET',
            success:function (data) {
                data.forEach(function (element) {
                    if(chooseBook==element[0]){
                        chooseBook=element[1];
                    }
                });
                var time=bTime+"---"+tTime;
                var dataAll=bTime+"---"+tTime+"---"+chooseBook+"---"+studentLevel;
                createTable(dataAll);
                createDifferentHighchart(class_element,class_url,dataAll,title);
                createAgeHighchart(age_element,age_url,dataAll,title);

            }
        });

    }
    function createTable(data) {
        var table1=$('#book_rank_choose_class_table').DataTable({
            destroy: true,
            lengthMenu: [10, 25, 50, 100],
            order: [[0, "asc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data": "level"},
                {"data": "ccnt"},
                {"data": "scnt"}
            ],
            columnDefs:[
            ],
            ajax: {
                url: "/class/get_book_rank_choose_class_table/"+data,
                type: 'GET'
            }
        });
        var table2=$('#book_rank_age_table').DataTable({
            destroy: true,
            lengthMenu: [10, 25, 50, 100],
            order: [[0, "asc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data": "level"},
                {"data": "age"},
                {"data": "cnt"}
            ],
            columnDefs:[
                {
                    "targets":1,
                    "render": function (data, type, row, meta) {
                        switch (data){
                            case '1':return '3-6岁';break;
                            case '2':return '7-9岁';break;
                            case '3':return '10-12岁';break;
                            case '10':return '13-15岁';break;
                            case '11':return '16-18岁';break;
                            case '12':return '19-24岁';break;
                            case '6':return '25-35岁';break;
                            case '7':return '36-45岁';break;
                            case '8':return '46-55岁';break;
                            case '9':return '55岁以上';break;
                            default:return '其他';
                        }
                    }
                }
            ],
            ajax: {
                url: "/class/get_book_rank_age_table/"+data,
                type: 'GET'
            }
        });
    }
    function createCompare() {
        var compare_element=$('#book_rank_choose_class_compare');
        compare_element.html("");
        var book_url="/class/get_book/";
        var compare_url="/class/get_book_rank_choose_class_compare/";
        var compare_url_sql="/class/get_book_rank_choose_class_compare_sql/";
        var compare=$('#compare_select').find("option:selected").val();
        var bTime=$('#begin-time').find("> input").val();
        var tTime=$('#to-time').find("> input").val();
        var chooseBook= $('#book').find("option:selected").val();
        var studentLevel=$('#studentLevels').find('span[class="option-text active"]').text();
        var data=bTime+"---"+tTime+"---"+studentLevel;
        createTimeHighStock(compare_element,compare_url_sql,book_url,compare_url,compare,data+"---sql");
        createStockTable(data);
        $('#compare_select').on('change', function () {
            var compare=$('#compare_select').find("option:selected").val();
            createStockTable(data);
            createTimeHighStock(compare_element,compare_url_sql,book_url,compare_url,compare,data+"---sql");
        });
    }
    function createStockTable(data) {
        var table=$('#book_rank_choose_class_compare_table').DataTable({
            destroy: true,
            lengthMenu: [10, 25, 50, 100],
            order: [[0, "desc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data": "time"},
                {"data": "book"},
                {"data": "count"}
            ],
            columnDefs:[
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return unixToDay(parseInt(data/1000));
                    }
                }
            ],
            ajax: {
                url: '/class/get_book_rank_choose_class_compare_sql/'+data+"---data",
                type: 'GET'
            }
        });
    }
    function addBooks(obj,data) {
        //添加 li
        var span = document.createElement("span");
        //设置 li 属性，如 id
        if(data=='Smile Junior 青少系列日常生活口语教程'){
            span.setAttribute("class","option-text active");
        }else{
            span.setAttribute("class", "option-text");
        }
        span.innerHTML = data;
        obj.append(span);
    }
    // ]]>
</script>
</body>
</html>