<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
</head>
<body>

<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height-title"> 时间：</strong></p>
    </div>
    <div class="col-lg-10">
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="begin-time">BeginTime</label>
                <div class='input-group date' id='begin-time'>
                    <input class="form-control" type="text"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="to-time">ToTime</label>
                <div class='input-group date' id='to-time'>
                    <input class="form-control" type="text"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong>学生：</strong></p>
    </div>
    <div class="col-lg-10">
        <div class="col-lg-1">
            <span class="option-text">不限</span>
        </div>
        <label class="col-lg-1 text-right">
            <span class="text-center">Id/Mobile</span>
        </label>
        <label class="col-lg-2">
            <input class="form-control" type="text" id="student-id-mobile"/>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong>套餐：</strong></p>
    </div>
    <div class="col-lg-10">
        <span class="option-text">不限</span>
        <span class="option-text">欧美</span>
        <span class="option-text">菲律宾</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong>学员套餐：</strong></p>
    </div>
    <div class="col-lg-10" id="taocan">
        <span class="option-text">不限</span>
        <span class="option-text">五天/周 一节/天</span>
        <span class="option-text">五天/周 二节/天</span>
        <span class="option-text">三天/周 一节/天</span>
        <span class="option-text">三天/周 一节/天</span>
        <span class="option-text">自由课</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height">绑定课：</strong></p>
    </div>
    <div class="col-lg-10 btn-group" data-toggle="buttons">
        <label class=" col-lg-1 btn btn-default btn-sm active">
            <input type="radio" name="options"/>全部
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>绑定
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>未绑定
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height-title">老师：</strong></p>
    </div>
    <div class="col-lg-10">
        <label class=" col-lg-1 btn btn-default btn-sm active">
            <span class=" col-lg-12">全部</span>
        </label>
        <label class="col-lg-1 text-right">
            <span class="text-center height-title">Id/Mobile</span>
        </label>
        <label class="col-lg-2">
            <input class="form-control height" type="text" id="teacher-id-mobile"/>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height-title">教师组别：</strong></p>
    </div>
    <div class="col-lg-10">
        <label class=" col-lg-1 btn btn-default btn-sm active">
            <span class="col-lg-12">全部</span>
        </label>
        <label class="col-lg-1 text-right">
            <span class="text-center height-title">组别</span>
        </label>
        <label class="col-lg-2">
            <select class=" form-control height" id="group">
                <option>---------</option>
            </select>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height">老师Status：</strong></p>
    </div>
    <div class="col-lg-10 btn-group" data-toggle="buttons">
        <label class=" col-lg-1 btn btn-default btn-sm active">
            <input type="radio" name="options"/>全部
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>试用
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>活跃
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height">老师属性：</strong></p>
    </div>
    <div class="col-lg-10 btn-group" data-toggle="buttons">
        <label class=" col-lg-1 btn btn-default btn-sm active">
            <input type="radio" name="options"/>全部
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>欧美
        </label>
        <label class="col-lg-1 btn btn-default btn-sm">
            <input type="radio" name="options"/>菲律宾
        </label>
    </div>
</div>

</body>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script>
    $(document).ready(function () {
        var beginTime = $('#begin-time');
        var toTime = $('#to-time');
        beginTime.datetimepicker();
        toTime.datetimepicker({
            useCurrent: false
        });
        beginTime.on("dp.change", function (e) {
            toTime.data("DateTimePicker").minDate(e.date);
        });
        toTime.on("dp.change", function (e) {
            toTime.data("DateTimePicker").maxDate(e.date);
        });

        $("#taocan > span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
            });
        });

    });
</script>
</html>