<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height"> 时间：</strong></p>
    </div>
    <div class="col-lg-10">
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="begin-time">BeginTime</label>
                <div class='input-group date' id='begin-time'>
                    <input class="form-control" type="text" id="bTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="to-time">ToTime</label>
                <div class='input-group date' id='to-time'>
                    <input class="form-control" type="text" id="tTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">学生：</strong></p>
    </div>
    <div class="col-lg-10 height">
        <span class="option-text active" id="studentAll">不限</span>
        <input class="form-control" type="text" id="student-id-mobile"  placeholder="Id/Mobile"/>
    </div>
</div>
<div class="row ">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">老师：</strong></p>
    </div>
    <div class="col-lg-10 height">
        <span class="option-text active" id="teacherAll">不限</span>
        <input class="form-control" type="text" id="teacher-id-email"  placeholder="Id/Email"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">老师Status：</strong></p>
    </div>
    <div class="col-lg-10 height" id="teacherStatus">
        <span class="option-text active">不限</span>
        <span class="option-text">试用</span>
        <span class="option-text">活跃</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">教师组别：</strong></p>
    </div>
    <div class="col-lg-10 height" id="teacherGroup">
        <span class="option-text active" id="teacherGroupAll">不限</span>
        <select class="selectpicker" multiple="true" id="group">
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">老师属性：</strong></p>
    </div>
    <div class="col-lg-10 height" id="teacherType">
        <span class="option-text active">不限</span>
        <span class="option-text">欧美</span>
        <span class="option-text">菲律宾</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">课时属性：</strong></p>
    </div>
    <div class="col-lg-10 height" id="class_type">
        <span class="option-text active">不限</span>
        <span class="option-text">常规测评课</span>
        <span class="option-text">免费测评课</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">课时状态：</strong></p>
    </div>
    <div class="col-lg-10 height" id="class_status">
        <span class="option-text active">不限</span>
        <span class="option-text">顺利结束</span>
        <span class="option-text">res</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="col-lg-3 pull-right"><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#sql">SQL查看</button></div>
        <div id="sql" class="collapse pull-center"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div style="float: right">
            <span class="cnt">Total:
                <span class="cntNumber" id="costClassCnt">
                </span>
            </span>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="youngCostSaClass">
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>老师ID</th>
                            <th>老师姓名</th>
                            <th>学生ID</th>
                            <th>学生姓名</th>
                            <th>课程状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

</body>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-autocomplete/jquery.autocomplete.min.js}"></script>
<script>
    // <![CDATA[
    $(document).ready(function () {
        var beginTime = $('#begin-time');
        var toTime = $('#to-time');
        var teacherStatus=$('#teacherStatus');
        var teacherType=$('#teacherType');
        var teacherGroup = document.getElementById("group");
        var classType=$('#class_type');
        var classStatus=$('#class_status');
        var studentInput=$('#student-id-mobile');
        var teacherInput=$('#teacher-id-email');
        var date = new Date();
        var yDay;
        var tDay;
        if(date.getMonth()==0){
            yDay=(date.getFullYear()-1) + "-12-1 00:00";
            tDay=(date.getFullYear()-1) + "-12-31 23:59";
        }else{
            yDay= date.getFullYear() + "-" + date.getMonth() + "-1 00:00";
            tDay= date.getFullYear() + "-" + date.getMonth() + "-" + getLastDay(date.getFullYear(), date.getMonth())+" 23:59";
        }
        $('#bTimeInput').val(yDay);
        $('#tTimeInput').val(tDay);
        beginTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        toTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        $.ajax({
            url: '/class/get_sa_teacher_group',
            type:'GET',
            data:'',
            success:function (data) {
                $.each(data,function (n,value){
                    var objOption = new Option(value);
                    teacherGroup.add(objOption);
                });
                $('.selectpicker').selectpicker();
            },
            error:function () {
            }
        });
        createTable();
        beginTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!='' && tTime>bTime){
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            }
        });
        toTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!=''&& tTime>bTime){
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            }
        });
        classType.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            });
        });
        classStatus.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            });
        });
        teacherStatus.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            });
        });
        teacherType.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
            });
        });
        $('#studentAll').click(function () {
            studentInput.val("");
            $('#costClassCnt').html('<span  class="cntNumber">  </span>');
            createTable();
        });
        $('#teacherAll').click(function () {
            teacherInput.val("");
            $('#costClassCnt').html('<span  class="cntNumber">  </span>');
            createTable();
        });
        $('#teacherGroupAll').click(function () {
            $('.selectpicker').selectpicker('val', 'Group');
            $('#costClassCnt').html('<span  class="cntNumber">  </span>');
            createTable();
        });
        $('#group').on("change",function () {
            $('#costClassCnt').html('<span  class="cntNumber">  </span>');
            createTable();
        });
        studentInput.autocomplete({
            serviceUrl: '/class/student_auto_complete',
            transformResult: function(response) {
                return {
                    suggestions: $.each($.parseJSON(response), function(dataItem) {
                        return { value: dataItem.value, data: dataItem.data };
                    })
                };
            },
            formatResult: function (suggestion, currentValue) {
                // Do not replace anything if there current value is empty
                if (!currentValue) {
                    return suggestion.value + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
                }
                var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
                return suggestion.value
                                .replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                                .replace(/&/g, '&amp;')
                                .replace(/</g, '&lt;')
                                .replace(/>/g, '&gt;')
                                .replace(/"/g, '&quot;')
                                .replace(/&lt;(\/?strong)&gt;/g, '<$1>') + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
            },
            onSelect: function (suggestion) {
                $('#student-id-mobile').val(suggestion.value + "   "+suggestion.data);
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
                console.log('You selected: ' + suggestion.value + "&nbsp;&nbsp;&nbsp;"+suggestion.data);
            }
        });
        teacherInput.autocomplete({
            serviceUrl:'/class/teacher_auto_complete',
            transformResult: function(response) {
                return {
                    suggestions: $.each($.parseJSON(response), function(dataItem) {
                        return { value: dataItem.value, data: dataItem.data };
                    })
                };
            },
            formatResult: function (suggestion, currentValue) {
                // Do not replace anything if there current value is empty
                if (!currentValue) {
                    return suggestion.value + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
                }
                var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
                return suggestion.value
                                .replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                                .replace(/&/g, '&amp;')
                                .replace(/</g, '&lt;')
                                .replace(/>/g, '&gt;')
                                .replace(/"/g, '&quot;')
                                .replace(/&lt;(\/?strong)&gt;/g, '<$1>') + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
            },
            onSelect: function (suggestion) {
                $('#teacher-id-email').val(suggestion.value + "   "+suggestion.data);
                $('#costClassCnt').html('<span  class="cntNumber">  </span>');
                createTable();
                console.log('You selected: ' + suggestion.value +"&nbsp;&nbsp;&nbsp;"+suggestion.data);
            }

        });
    });
    function createTable() {
        var table=$('#youngCostSaClass').DataTable({
            destroy: true,
            lengthMenu: [10, 25, 50, 100],
            order: [[0, "desc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data": "begin_time"},
                {"data": "tid"},
                {"data": "tname"},
                {"data": "sid"},
                {"data": "sname"},
                {"data": "status"}
            ],
            columnDefs:[
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return unixToDate(parseInt(data));
                    }
                }
                ,{
                    "targets": 5,
                    "render": function (data, type, row, meta) {
                        switch (data){
                            case '3':return '已结束';break;
                            case '4':return '已取消';break;
                            case '5':return '学生旷课';break;
                            case '6':return '老师旷课';break;
                            case '7':return '提前一天取消';break;
                            case '8':return 'excused cancelled';break;
                            case '9':return 'recheduled class';break;
                        }
                    }
                }
            ],
            ajax: {
                url: '/class/get_cost_sa_class/'+getData(),
                type: 'GET'
            }
        });
        $('#youngCostSaClass').on( 'init.dt', function () {
            getCnt();
            getSql();
        }).dataTable();
    }
    function getCnt() {
        $.ajax({
            url: '/class/get_cost_sa_class_cnt',
            type:'GET',
            data:'',
            success:function (data) {
                $('#costClassCnt').html('<span  class="cntNumber">'+data+'</span>');
            },
            error:function () {
            }
        });
    }
    function getSql() {
        $.ajax({
            url: '/class/get_whole_sa_sql',
            type:'GET',
            data:'',
            success:function (data) {
                $('#sql').html('<span >'+data.replace(/\n/g,'<br/>')+'</span>');
            },
            error:function () {
            }
        });
    }
    function getData() {
        var bTime=$('#begin-time').find("> input").val();
        var tTime=$('#to-time').find("> input").val();
        if(bTime==''||tTime==''){
            bTime="all";
            tTime="all";
        }else{
            if(tTime>bTime){
                bTime=dateToUnix(bTime);
                tTime=dateToUnix(tTime);
            }
        }
        var studentMessage=$('#student-id-mobile').val();
        if(studentMessage==""||studentMessage=="Id/Mobile"){
            studentMessage="all";
        }else{
            var student=studentMessage.split("   ");
            studentMessage=student[0];
        }
        var teacherMessage=$('#teacher-id-email').val();
        if(teacherMessage==""||teacherMessage=="id/Email"){
            teacherMessage="all";
        }else{
            var teacher=teacherMessage.split("   ");
            teacherMessage=teacher[0];
        }
        var teacherStatus=$('#teacherStatus').find('span[class="option-text active"]').text();
        var teacherType=$('#teacherType').find('span[class="option-text active"]').text();
        var group = $('#group').val();
        var classType=$('#class_type').find('span[class="option-text active"]').text();
        var classStatus=$('#class_status').find('span[class="option-text active"]').text();
        //alert(bTime+"+"+tTime+"+"+studentMessage+"+"+comboCountry+"+"+combo+"+"+binding+"+"+teacherMessage+"+"+teacherStatus+"+"+group+"+"+teacherType);
        return bTime+"+"+tTime+"+"+studentMessage+"+"+teacherMessage+"+"+teacherStatus+"+"+group+"+"+teacherType+"+"+classType+"+"+classStatus;
    }
    // ]]>
</script>
</html>