<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-1">
        <p class="control-label"><strong class="height"> 时间：</strong></p>
    </div>
    <div class="col-lg-3">
        <div class="input-group input-daterange">
            <input id="time" type="text" class="form-control" value=""/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="call_phone">
                        <thead>
                        <tr>
                            <th>CCID</th>
                            <th>CC姓名</th>
                            <th>CC组</th>
                            <th>当日通话时长</th>
                            <th>当日有效通话时长</th>
                            <th>日总通话量</th>
                            <th>公库日通话量</th>
                            <th>私库日通话量</th>
                            <th>日总有效通话量</th>
                            <th>公库有效通话量</th>
                            <th>私库有效通话量</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script>
    // <![CDATA[
    $(document).ready(function () {
        var time=$('#time');
        time.datepicker({
            startDate: "-3m",
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            antoclose: true
        });
        var date = new Date();
        var dateFormatted_to;
        if (date.getDate() == 1) {
            dateFormatted_to = date.getFullYear() + "-" + date.getMonth() + "-" + getLastDay(date.getFullYear(), date.getMonth());
        } else {
            dateFormatted_to = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate() - 1);
        }
        time.datepicker("setDate", dateFormatted_to);
        createTable(time.datepicker('getFormattedDate'));
        time.on("changeDate", function () {
            recover();
            createTable(time.datepicker('getFormattedDate'));
        });

    });
    function recover() {
        $('#costClassCnt').html('<span  class="cntNumber">  </span>');
    }
    function createTable(data) {
        var table=$('#call_phone').DataTable({
            destroy: true,
            lengthMenu: [100,200],
            order: [[5, "desc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data": "ccid"},
                {"data": "ccname"},
                {"data": "ccgroup"},
                {"data": "calltime"},
                {"data": "callreltime"},
                {"data": "callnumber"},
                {"data": "callnumber1"},
                {"data": "callnumber2"},
                {"data": "callrelnumber"},
                {"data": "callrelnumber1"},
                {"data": "callrelnumber2"}
            ],
            columnDefs:[
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        if (data < 86400) {
                            var dt = new Date("01/01/2000 0:00");
                            dt.setSeconds(data);
                            var h = dt.getHours(),
                                    m = dt.getMinutes(),
                                    s = dt.getSeconds(),
                                    r = "";
                            if (h > 0) {
                                r += (h > 9 ? h.toString() : "0" + h.toString()) + "小时";
                            }
                            r += (m > 9 ? m.toString() : "0" + m.toString()) + "分钟";
                            r += (s > 9 ? s.toString() : "0" + s.toString()) + "秒";
                            return r;
                        } else {
                            return null;
                        }
                    }
                },{
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        if (data < 86400) {
                            var dt = new Date("01/01/2000 0:00");
                            dt.setSeconds(data);
                            var h = dt.getHours(),
                                    m = dt.getMinutes(),
                                    s = dt.getSeconds(),
                                    r = "";
                            if (h > 0) {
                                r += (h > 9 ? h.toString() : "0" + h.toString()) + ":";
                            }
                            r += (m > 9 ? m.toString() : "0" + m.toString()) + ":"
                            r += (s > 9 ? s.toString() : "0" + s.toString());
                            return r;
                        } else {
                            return null;
                        }
                    }
                }
            ],
            ajax: {
                url: "/class/get_pay_call_phone/"+data,
                type: 'GET'
            }
        });
    }
    // ]]>
</script>
</body>
</html>