<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height"> 时间：</strong></p>
    </div>
    <div class="col-lg-10">
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="begin-time">BeginTime</label>
                <div class='input-group date' id='begin-time'>
                    <input class="form-control" type="text" id="bTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="to-time">ToTime</label>
                <div class='input-group date' id='to-time'>
                    <input class="form-control" type="text" id="tTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">CCID：</strong></p>
    </div>
    <div class="col-lg-10 height">
        <span class="option-text active" id="allCC">不限</span>
        <input class="form-control" type="text" id="cc_id_name"  placeholder="Id/Name"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">CC组别：</strong></p>
    </div>
    <div class="col-lg-10 height" id="cc_group">
        <span class="option-text active" id="groupAll">不限</span>
        <select class="selectpicker"  multiple="true" data-live-search="true" id="group">
            <div th:each="group : ${groupList}">
                <option th:text="${group}"></option>
            </div>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="pay_percent_conversion">
                        <thead>
                        <tr>
                            <th>CCID</th>
                            <th>CC昵称</th>
                            <th>CC组别</th>
                            <th>总转化率</th>
                            <th>测评转化率</th>
                            <th>会员均产</th>
                            <th>单笔销售额</th>
                            <th>买课转化率</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
</body>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-autocomplete/jquery.autocomplete.min.js}"></script>
<script>
    // <![CDATA[
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        var beginTime = $('#begin-time');
        var toTime = $('#to-time');
        var ccInput=$('#cc_id_name');
        var date = new Date();
        var yDay;
        var tDay;
        if(date.getMonth()==0){
            yDay=(date.getFullYear()-1) + "-12-1 00:00";
            tDay=(date.getFullYear()-1) + "-12-31 23:59";
        }else{
            yDay= date.getFullYear() + "-" + date.getMonth() + "-1 00:00";
            tDay= date.getFullYear() + "-" + date.getMonth() + "-" + getLastDay(date.getFullYear(), date.getMonth())+" 23:59";
        }
        $('#bTimeInput').val(yDay);
        $('#tTimeInput').val(tDay);
        beginTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        toTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        createTable();
        beginTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!='' && tTime>bTime){
                recover();
                createTable();
            }
        });
        toTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!=''&& tTime>bTime){
                recover();
                createTable();
            }
        });
        $('#allCC').click(function () {
            $('#allCC').addClass("active");
            ccInput.val("");
            createTable();
        });
        $('#groupAll').click(function () {
            $('#groupAll').addClass("active");
            $('.selectpicker').selectpicker('val', 'Nothing selected');
            createTable();
        });
        $('#group').on("change",function () {
            $('#groupAll').removeClass("active");
            createTable();
        });
        ccInput.autocomplete({
            serviceUrl: '/class/cc_auto_complete',
            transformResult: function(response) {
                return {
                    suggestions: $.each($.parseJSON(response), function(dataItem) {
                        return { value: dataItem.value, data: dataItem.data };
                    })
                };
            },
            formatResult: function (suggestion, currentValue) {
                // Do not replace anything if there current value is empty
                if (!currentValue) {
                    return suggestion.value + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
                }
                var pattern = '(' + currentValue.replace(/[|\\{}()[\]^$+*?.]/g, "\\$&") + ')';
                return suggestion.value
                                .replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>')
                                .replace(/&/g, '&amp;')
                                .replace(/</g, '&lt;')
                                .replace(/>/g, '&gt;')
                                .replace(/"/g, '&quot;')
                                .replace(/&lt;(\/?strong)&gt;/g, '<$1>') + "&nbsp;&nbsp;&nbsp;"+suggestion.data;
            },
            onSelect: function (suggestion) {
                $('#cc_id_name').val(suggestion.value + "   "+suggestion.data);
                createTable();
                $('#allCC').removeClass('active');
                console.log('You selected: ' + suggestion.value + "&nbsp;&nbsp;&nbsp;"+suggestion.data);
            }
        });
    });
    function createTable() {
        var table=$('#pay_percent_conversion').DataTable({
            destroy: true,
            lengthMenu: [100,200],
            order: [[3, "desc"]],
            autoWidth: true,
            paging: true,
            processing: true,
            serverSide: true,
            searching:false,
            filter: true,
            language: {
                "lengthMenu": " _MENU_ ",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            columns: [
                {"data":"ccid"},
                {"data":"ccname"},
                {"data":"ccgroup"},
                {"data":"allpercent"},
                {"data":"testpercent"},
                {"data":"personpercent"},
                {"data":"onepercent"},
                {"data":"buypercent"}
            ],
            columnDefs:[
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        return Math.round(parseFloat(data)*100)/100 +"%";
                    }
                },{
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        return Math.round(parseFloat(data)*100)/100 +"%";
                    }
                },{
                    "targets": 5,
                    "render": function (data, type, row, meta) {
                        return Math.round(parseFloat(data)*100)/100;
                    }
                },{
                    "targets": 6,
                    "render": function (data, type, row, meta) {
                        return Math.round(parseFloat(data)*100)/100;
                    }
                },{
                    "targets": 7,
                    "render": function (data, type, row, meta) {
                        return Math.round(parseFloat(data)*100)/100+"%";
                    }
                }
            ],
            ajax: {
                url: '/class/get_pay_percent_conversion/'+getData(),
                type: 'GET'
            }
        });
    }
    function getData() {
        var bTime=$('#begin-time').find("> input").val();
        var tTime=$('#to-time').find("> input").val();
        if(bTime==''||tTime==''){
            bTime="all";
            tTime="all";
        }else{
            if(tTime>bTime){
                bTime=dateToUnix(bTime);
                tTime=dateToUnix(tTime);
            }
        }
        var CCMessage=$('#cc_id_name').val();
        if(CCMessage==""||CCMessage=="Id/Name"){
            CCMessage="all";
        }else{
            var CC=CCMessage.split("   ");
            CCMessage=CC[0];
        }
        var group = $('#group').val();
        return bTime+"+"+tTime+"+"+CCMessage+"+"+group;
    }
    // ]]>
</script>
</html>