<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/qingshao.css}" rel="stylesheet"/>
    <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
    <link th:href="@{/css/datatables/dataTables.bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="col-lg-2">
        <p class="text-right control-label"><strong class="height"> 时间：</strong></p>
    </div>
    <div class="col-lg-10">
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="begin-time">BeginTime</label>
                <div class='input-group date' id='begin-time'>
                    <input class="form-control" type="text" id="bTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="sr-only" for="to-time">ToTime</label>
                <div class='input-group date' id='to-time'>
                    <input class="form-control" type="text" id="tTimeInput"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">套餐类型：</strong></p>
    </div>
    <div class="col-lg-10 height" id="combo">
        <span class="option-text active" id="allCombo">不限</span>
        <span class="option-text">菲律宾套餐</span>
        <span class="option-text">欧美套餐</span>
        <span class="option-text">自由课套餐</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 height">
        <p class="text-right control-label"><strong class="height">查看：</strong></p>
    </div>
    <div class="col-lg-10 height" id="look">
        <span class="option-text active" id="table1">连续未约课天数</span>
        <span class="option-text" id="table2">连续未选课扣币天数及扣币量</span>
    </div>
</div>
<div class="row" id="sqlLook">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="col-lg-3 pull-right"><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#sql">SQL查看</button></div>
        <div id="sql" class="collapse pull-center"></div>
    </div>
</div>
<div class="row" id="table_one">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div style="float: right">
            <span class="cnt">Total:
                <span class="cntNumber" id="costClassCnt">
                </span>
            </span>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="student">
                        <thead>
                        <tr>
                            <th>学生ID</th>
                            <th>学生昵称</th>
                            <th>学习导师</th>
                            <th>连续未约课天数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row" id="table_two">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="look2_table">
                        <thead>
                        <tr>
                            <th>学生ID</th>
                            <th>学生昵称</th>
                            <th>学习导师</th>
                            <th>未选课扣币天数</th>
                            <th>扣币量</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

</body>
<script th:src="@{/js/datepicker/moment.min.js}"></script>
<script th:src="@{/js/datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/js/datatables/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-autocomplete/jquery.autocomplete.min.js}"></script>
<script>
    // <![CDATA[
    $(document).ready(function () {
        var beginTime = $('#begin-time');
        var toTime = $('#to-time');
        var look=$('#look');
        var combo=$('#combo');
        var date = new Date();
        var yDay;
        var tDay;
        if(date.getMonth()==0){
            yDay=(date.getFullYear()-1) + "-12-1 00:00";
            tDay=(date.getFullYear()-1) + "-12-31 00:00";
        }else{
            yDay= date.getFullYear() + "-" + date.getMonth() + "-1 00:00";
            tDay= date.getFullYear() + "-" + date.getMonth() + "-" + getLastDay(date.getFullYear(), date.getMonth())+" 23:59";
        }
        $('#bTimeInput').val(yDay);
        $('#tTimeInput').val(tDay);
        beginTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        toTime.datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            useCurrent: false
        });
        recoverCnt();
        createTable();
        beginTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!='' && tTime>bTime){
                recoverCnt();
                createTable();
            }
        });
        toTime.on("dp.change", function (e) {
            var bTime=$('#begin-time').find("> input").val();
            var tTime=$('#to-time').find("> input").val();
            if(bTime!='' && tTime!=''&& tTime>bTime){
                recoverCnt();
                createTable();
            }
        });

        combo.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                recoverCnt();
                createTable();
            });
        });
        look.find("> span").each(function (index) {
            $(this).unbind('click');
            $(this).on("click", function () {
                $(this).addClass("active");
                $(this).nextAll().removeClass("active");
                $(this).prevAll().removeClass("active");
                recoverCnt();
                createTable();
            });
        });
    });
    function recoverCnt() {
        $('#costClassCnt').html('<span  class="cntNumber">  </span>');
    }
    function createTable() {
        var look=$('#look').find('span[class="option-text active"]').attr("id");
        if(look=="table1"){
            $('#table_one').show();
            $('#table_two').hide();
            $('#sqlLook').show();
            var table_one=$('#student').DataTable({
                destroy: true,
                lengthMenu: [10, 25, 50, 100],
                order: [[0, "desc"]],
                autoWidth: true,
                paging: true,
                processing: true,
                serverSide: true,
                searching:false,
                filter: true,
                language: {
                    "lengthMenu": " _MENU_ ",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                columns: [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "ghs"},
                    {"data": "day"}
                ],
                columnDefs:[
                ],
                ajax: {
                    url: '/class/get_lose_student_class/'+getData(),
                    type: 'GET'
                }
            });
            $('#student').on( 'init.dt', function () {
                getCnt();
                getSql();
            }).dataTable();
        }else{
            $('#table_one').hide();
            $('#table_two').show();
            $('#sqlLook').hide();
            var table_two=$('#look2_table').DataTable({
                destroy: true,
                lengthMenu: [10, 25, 50, 100],
                order: [[2, "desc"]],
                autoWidth: true,
                paging: true,
                processing: true,
                serverSide: true,
                searching:false,
                filter: true,
                language: {
                    "lengthMenu": " _MENU_ ",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                columns: [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "ghs"},
                    {"data": "day"},
                    {"data": "acoin"}
                ],
                columnDefs:[
                ],
                ajax: {
                    url: '/class/get_lose_student_acoin/'+getData(),
                    type: 'GET'
                }
            });
        }
    }
    function getCnt() {
        $.ajax({
            url: '/class/get_work_student_message_cnt',
            type:'GET',
            data:'',
            success:function (data) {
                $('#costClassCnt').html('<span  class="cntNumber">'+data+'</span>');
            },
            error:function () {
            }
        });
    }
    function getSql() {
        $.ajax({
            url: '/class/get_work_student_message_sql',
            type:'GET',
            data:'',
            success:function (data) {
                $('#sql').html('<span >'+data.replace(/\n/g,'<br/>')+'</span>');
            },
            error:function () {
            }
        });
    }
    function getData() {
        var bTime=$('#begin-time').find("> input").val();
        var tTime=$('#to-time').find("> input").val();
        if(bTime==''||tTime==''){
            bTime="all";
            tTime="all";
        }else{
            if(tTime>bTime){
                bTime=dateToUnix(bTime);
                tTime=dateToUnix(tTime);
            }
        }
        var combo=$('#combo').find('span[class="option-text active"]').text();
        var look=$('#look').find('span[class="option-text active"]').attr("id");
        return bTime+"+"+tTime+"+"+combo;

    }
    // ]]>
</script>
</html>