<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="row">
    <div class="col-lg-12">
        <div style="float: right">
            <select id='pay_total' class="selectpicker" >
                <option>month</option>
                <option>day</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-map-marker fa-fw"></i> 注册学生趋势(总)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="student_pay_stock" style="height:400px"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        var pay_his_element = $('#student_pay_stock');
        var pay_his_url = "/reg/get_reg_daily_activity/";
        var seriesName = "注册量";
        var pay_his_duration = $('#pay_total').find("option:selected").val();
        createSimpleHighStock(pay_his_element, pay_his_url,seriesName, pay_his_duration);
        $('#pay_total').on('change', function(){
            var reg_his_duration = $(this).find("option:selected").val();
            createSimpleHighStock(pay_his_element, pay_his_url,seriesName, pay_his_duration);
        });

    });
</script>
</body>
</html>