<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

    <div class="row">
        <h2>Web端</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生终端分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student_terminal_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生浏览器分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student_browser_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生行为高峰分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="web_student_hot_spot_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            var student_terminal_element = $('#student_terminal_chart');
            student_terminal_element.waypoint(function(direction) {
                var terminal_count_map = new HashMap();
                var total = 0;
                $.getJSON('get_student_terminal', function (terminalJSONObjects) {
                    $.each(terminalJSONObjects, function (i, terminalJSONObject) {
                        terminal_count_map.set(terminalJSONObject.name, terminalJSONObject.count);
                        total = total + terminalJSONObject.count;
                    });
                    var student_terminal_map = new HashMap();
                    var firstTerminalLevelNames = ['Windows', 'Linux', 'Mac', 'iPhone', 'iPad', 'Android'];
                    $.each(firstTerminalLevelNames, function (i, name) {
                        var sub_map = new HashMap();
                        if (name == "Windows") {
                            var drilldownCategories = ['Windows XP', 'Windows Vista', 'Windows 7', 'Windows 8', 'Windows 10'];
                            sub_map.set('drilldownCategories', drilldownCategories);
                            var drilldownData = [];
                            var firstLevelCount = 0;
                            $.each(drilldownCategories, function (i, cate) {
                                var cnt = terminal_count_map.get(cate) / total * 100;
                                drilldownData.push(round(cnt, 2));
                                firstLevelCount = firstLevelCount + round(cnt, 2);
                            });
                            sub_map.set('drilldownData', drilldownData);
                            sub_map.set('y', round(firstLevelCount, 2));
                        }
                        else {
                            sub_map.set('drilldownCategories', [name]);
                            var cnt = terminal_count_map.get(name) / total * 100;
                            sub_map.set('drilldownData', [round(cnt, 2)]);
                            sub_map.set('y', round(cnt, 2));
                        }
                        student_terminal_map.set(name, sub_map);
                    });
                    student_terminal_map.set('firstLevelSeriesName', "Terminals");
                    student_terminal_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(student_terminal_element, student_terminal_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            var student_browser_element = $('#student_browser_chart');
            student_browser_element.waypoint(function(direction) {
                var browser_count_map = new HashMap();
                var terminal_browser_map = new HashMap();
                var browser_total = 0;
                $.getJSON('get_student_browser', function (browserJSONObjects) {
                    $.each(browserJSONObjects, function (i, browserJSONObject) {
                        browser_count_map.set(browserJSONObject.name, browserJSONObject.count);
                        browser_total = browser_total + browserJSONObject.count;
                        var array = browserJSONObject.name.split("___");
                        var arr = [];
                        if (terminal_browser_map.has(array[0])) {
                            terminal_browser_map.get(array[0]).push(array[1]);
                        } else {
                            arr.push(array[1]);
                            terminal_browser_map.set(array[0], arr);
                        }

                    });
                    var student_browser_map = new HashMap();
                    var firstBrowserLevelNames = ['Windows XP', 'Windows 7', 'Windows 8', 'Windows 10', 'Linux', 'Mac', 'iPhone', 'iPad', 'Android'];
                    $.each(firstBrowserLevelNames, function (i, name) {
                        var sub_map = new HashMap();
                        var drilldownCategories = terminal_browser_map.get(name);
                        sub_map.set('drilldownCategories', drilldownCategories);
                        var drilldownData = [];
                        var firstLevelCount = 0;
                        $.each(drilldownCategories, function (i, cate) {
                            var cnt = browser_count_map.get(name + "___" + cate) / browser_total * 100;
                            drilldownData.push(round(cnt, 2));
                            firstLevelCount = firstLevelCount + round(cnt, 2);
                        });
                        sub_map.set('drilldownData', drilldownData);
                        sub_map.set('y', round(firstLevelCount, 2));
                        student_browser_map.set(name, sub_map);
                    });
                    student_browser_map.set('firstLevelSeriesName', "Browsers");
                    student_browser_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(student_browser_element, student_browser_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            $.getJSON('get_web_hot_spot', function (data) {
                var hot_spot_element = $('#web_student_hot_spot_chart');
                createScatterHighChart(hot_spot_element, data);
            });

        });
    </script>

</body>
</html>