<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body th:fragment="script">
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/js/nav.js}"></script>
<script th:src="@{/js/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/js/highstock/highstock.js}"></script>
<script th:src="@{/js/hashmap.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/highstock.js}"></script>
<script th:src="@{/js/highchart.js}"></script>
</body>
</html>