<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="indexContent">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Overview</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div th:if="${lastError} != 0">
            <div class="col-lg-2 col-md-4">
                <div class="warn">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div th:text="${lastError}"/>
                                    <div>New Errors</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" name="web---errorWebActionContent">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${lastDebug} != 0">
            <div class="col-lg-2 col-md-4">
                <div class="warn">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-info fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div th:text="${lastDebug}"/>
                                    <div>New Debugs</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" name="web---debugWebActionContent">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div style="float: right">
                <select id='student_activity' class="selectpicker">
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart fa-fw"></i> 学生各个端日活量
                </div>
                <div class="panel-body">
                    <div id="student_daily_activity_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="float: right">
                <select id='student_activity_all' class="selectpicker">
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart fa-fw"></i> 学生总日活量
                </div>
                <div class="panel-body">
                    <div id="student_daily_activity_chart_all"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div style="float: right">
                <select id='class_mode_time' class="selectpicker" >
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 上课方式选择分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="class_mode_chart" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div style="float: right">
                <select id='class_tool_type_time' class="selectpicker">
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 上课平台实际上课数分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="class_tool_type_chart" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>

<div th:fragment="indexContentScript">
    <script>
        $(document).ready(function () {
            $("div.warn a").each(function (index) {
                $(this).unbind('click');
                $(this).on("click", function () {
                    $("#content").empty();
                    var templateName = $(this).attr("name");
                    $("#content").load("/table/" + templateName);
                });
            });
            var class_tool_element = $('#class_tool_type_chart');
            var class_tool_url = "class_tools_daily_activity/";
            var class_tool_map = new HashMap();
            class_tool_map.set("ClassPlat", "7");
            class_tool_map.set("Android", "2");
            class_tool_map.set("IOS", "3");
            var class_tool_duration = $('#class_tool_type_time').find("option:selected").val();
            createHighStock(class_tool_element, class_tool_url, class_tool_map, class_tool_duration);
            $('#class_tool_type_time').on('change', function () {
                var class_tool_duration = $(this).find("option:selected").val();
                createHighStock(class_tool_element, class_tool_url, class_tool_map, class_tool_duration);
            });

            var class_mode_element = $('#class_mode_chart');
            var class_mode_url = "class_mode_daily_activity/";
            var class_mode_map = new HashMap();
            class_mode_map.set("QQ", "QQ");
            class_mode_map.set("Skype", "Skype");
            class_mode_map.set("ClassPlat", "ClassPlat");
            var class_mode_duration = $('#class_mode_time').find("option:selected").val();
            createHighStock(class_mode_element, class_mode_url, class_mode_map, class_mode_duration);
            $('#class_mode_time').on('change', function () {
                var class_mode_duration = $(this).find("option:selected").val();
                createHighStock(class_mode_element, class_mode_url, class_mode_map, class_mode_duration);
            });

            var student_element = $('#student_daily_activity_chart');
            var student_url = "student_daily_activity/";
            var student_map = new HashMap();
            student_map.set("Web", "Web");
            student_map.set("ClassPlat", "ClassPlat");
            student_map.set("Android", "Android");
            student_map.set("iOS", "iOS");
            var student_duration = $('#student_activity').find("option:selected").val();
            createHighStock(student_element, student_url, student_map, student_duration);
            $('#student_activity').on('change', function () {
                var student_duration = $(this).find("option:selected").val();
                createHighStock(student_element, student_url, student_map, student_duration);
            });

            var student_activity_all_element=$('#student_daily_activity_chart_all');
            var student_activity_all_url="student_daily_activity_all";
            var seriesName = "活跃量";
            var student_activity_all_duration = $('#student_activity_all').find("option:selected").val();
            createSimpleHighStock(student_activity_all_element, student_activity_all_url, seriesName, student_activity_all_duration);
            $('#student_activity_all').on('change', function () {
                var student_activity_all_duration = $(this).find("option:selected").val();
                createSimpleHighStock(student_activity_all_element, student_activity_all_url, seriesName, student_activity_all_duration);
            });

        });
    </script>
</div>
</body>
</html>