<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="indexContent">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Overview</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div th:if="${lastError} != 0">
            <div class="col-lg-2 col-md-4">
                <div class="warn">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div th:text="${lastError}"/>
                                    <div>New Errors</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" name="web---errorWebActionContent">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${lastDebug} != 0">
            <div class="col-lg-2 col-md-4">
                <div class="warn">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-info fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div th:text="${lastDebug}"/>
                                    <div>New Debugs</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" name="web---debugWebActionContent">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div style="float: right">
                <select id='student_activity' class="selectpicker">
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart fa-fw"></i> 学生各个端日活量
                </div>
                <div class="panel-body">
                    <div id="student_daily_activity_chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div style="float: right">
                <select id='class_mode_time' class="selectpicker" >
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 上课方式选择分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="class_mode_chart" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div style="float: right">
                <select id='class_tool_type_time' class="selectpicker">
                    <option>day</option>
                    <option>week</option>
                    <option>month</option>
                </select>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> 上课平台实际上课数分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="class_tool_type_chart" style="height:400px"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Web端</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生终端分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student_terminal_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生浏览器分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="student_browser_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 学生行为高峰分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="web_student_hot_spot_chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <h2>PC端</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> PC系统分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="pc_system"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> PC软件版本分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="pc_app"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <h2>移动端(android)</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 安卓系统分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="android_system"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 安卓app版本分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="android_app"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <h2>移动端(IOS)</h2>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> IOS系统分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="ios_system"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> IOS APP版本分布
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="ios_app"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>

<div th:fragment="indexContentScript">
    <script>
        $(document).ready(function () {
            $("div.warn a").each(function (index) {
                $(this).unbind('click');
                $(this).on("click", function () {
                    $("#content").empty();
                    var templateName = $(this).attr("name");
                    $("#content").load("/table/" + templateName);
                });
            });
            var class_tool_element = $('#class_tool_type_chart');
            var class_tool_url = "class_tools_daily_activity/";
            var class_tool_map = new HashMap();
            class_tool_map.set("ClassPlat", "7");
            class_tool_map.set("Android", "2");
            class_tool_map.set("IOS", "3");
            var class_tool_duration = $('#class_tool_type_time').find("option:selected").val();
            createHighStock(class_tool_element, class_tool_url, class_tool_map, class_tool_duration);
            $('#class_tool_type_time').on('change', function () {
                var class_tool_duration = $(this).find("option:selected").val();
                createHighStock(class_tool_element, class_tool_url, class_tool_map, class_tool_duration);
            });

            var class_mode_element = $('#class_mode_chart');
            var class_mode_url = "class_mode_daily_activity/";
            var class_mode_map = new HashMap();
            class_mode_map.set("QQ", "QQ");
            class_mode_map.set("Skype", "Skype");
            class_mode_map.set("ClassPlat", "ClassPlat");
            var class_mode_duration = $('#class_mode_time').find("option:selected").val();
            createHighStock(class_mode_element, class_mode_url, class_mode_map, class_mode_duration);
            $('#class_mode_time').on('change', function () {
                var class_mode_duration = $(this).find("option:selected").val();
                createHighStock(class_mode_element, class_mode_url, class_mode_map, class_mode_duration);
            });

            var student_element = $('#student_daily_activity_chart');
            var student_url = "student_daily_activity/";
            var student_map = new HashMap();
            student_map.set("Web", "Web");
            student_map.set("ClassPlat", "ClassPlat");
            student_map.set("Android", "Android");
            student_map.set("iOS", "iOS");
            var student_duration = $('#student_activity').find("option:selected").val();
            createHighStock(student_element, student_url, student_map, student_duration);
            $('#student_activity').on('change', function () {
                var student_duration = $(this).find("option:selected").val();
                createHighStock(student_element, student_url, student_map, student_duration);
            });

            var student_terminal_element = $('#student_terminal_chart');
            student_terminal_element.waypoint(function(direction) {
                var terminal_count_map = new HashMap();
                var total = 0;
                $.getJSON('get_student_terminal', function (terminalJSONObjects) {
                    $.each(terminalJSONObjects, function (i, terminalJSONObject) {
                        terminal_count_map.set(terminalJSONObject.name, terminalJSONObject.count);
                        total = total + terminalJSONObject.count;
                    });
                    var student_terminal_map = new HashMap();
                    var firstTerminalLevelNames = ['Windows', 'Linux', 'Mac', 'iPhone', 'iPad', 'Android'];
                    $.each(firstTerminalLevelNames, function (i, name) {
                        var sub_map = new HashMap();
                        if (name == "Windows") {
                            var drilldownCategories = ['Windows XP', 'Windows Vista', 'Windows 7', 'Windows 8', 'Windows 10'];
                            sub_map.set('drilldownCategories', drilldownCategories);
                            var drilldownData = [];
                            var firstLevelCount = 0;
                            $.each(drilldownCategories, function (i, cate) {
                                var cnt = terminal_count_map.get(cate) / total * 100;
                                drilldownData.push(round(cnt, 2));
                                firstLevelCount = firstLevelCount + round(cnt, 2);
                            });
                            sub_map.set('drilldownData', drilldownData);
                            sub_map.set('y', round(firstLevelCount, 2));
                        }
                        else {
                            sub_map.set('drilldownCategories', [name]);
                            var cnt = terminal_count_map.get(name) / total * 100;
                            sub_map.set('drilldownData', [round(cnt, 2)]);
                            sub_map.set('y', round(cnt, 2));
                        }
                        student_terminal_map.set(name, sub_map);
                    });
                    student_terminal_map.set('firstLevelSeriesName', "Terminals");
                    student_terminal_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(student_terminal_element, student_terminal_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            var student_browser_element = $('#student_browser_chart');
            student_browser_element.waypoint(function(direction) {
                var browser_count_map = new HashMap();
                var terminal_browser_map = new HashMap();
                var browser_total = 0;
                $.getJSON('get_student_browser', function (browserJSONObjects) {
                    $.each(browserJSONObjects, function (i, browserJSONObject) {
                        browser_count_map.set(browserJSONObject.name, browserJSONObject.count);
                        browser_total = browser_total + browserJSONObject.count;
                        var array = browserJSONObject.name.split("___");
                        var arr = [];
                        if (terminal_browser_map.has(array[0])) {
                            terminal_browser_map.get(array[0]).push(array[1]);
                        } else {
                            arr.push(array[1]);
                            terminal_browser_map.set(array[0], arr);
                        }

                    });
                    var student_browser_map = new HashMap();
                    var firstBrowserLevelNames = ['Windows XP', 'Windows 7', 'Windows 8', 'Windows 10', 'Linux', 'Mac', 'iPhone', 'iPad', 'Android'];
                    $.each(firstBrowserLevelNames, function (i, name) {
                        var sub_map = new HashMap();
                        var drilldownCategories = terminal_browser_map.get(name);
                        sub_map.set('drilldownCategories', drilldownCategories);
                        var drilldownData = [];
                        var firstLevelCount = 0;
                        $.each(drilldownCategories, function (i, cate) {
                            var cnt = browser_count_map.get(name + "___" + cate) / browser_total * 100;
                            drilldownData.push(round(cnt, 2));
                            firstLevelCount = firstLevelCount + round(cnt, 2);
                        });
                        sub_map.set('drilldownData', drilldownData);
                        sub_map.set('y', round(firstLevelCount, 2));
                        student_browser_map.set(name, sub_map);
                    });
                    student_browser_map.set('firstLevelSeriesName', "Browsers");
                    student_browser_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(student_browser_element, student_browser_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            var android_system_element=$('#android_system');
            android_system_element.waypoint(function(direction) {
                var android_system_count_map=new HashMap();
                var android_system_big=new HashMap();
                var firstAndroidSystemName=new Array();
                var android_system_total=0;
                $.getJSON('get_android_system',function (androidSystemJSONObjects) {
                    $.each(androidSystemJSONObjects,function (i,androidSystemJSONObject) {
                        android_system_count_map.set(androidSystemJSONObject.name,androidSystemJSONObject.count);
                        android_system_total=android_system_total+androidSystemJSONObject.count;
                        var array=androidSystemJSONObject.name.slice(0,1);
                        var array2=androidSystemJSONObject.name.slice(1,20);

                        var arr=[];
                        if(android_system_big.has(array)){
                            android_system_big.get(array).push(array2);
                        }else{
                            arr.push(array2);
                            firstAndroidSystemName.push(array);
                            android_system_big.set(array,arr);
                        }
                    });
                    var android_system_map=new HashMap();

                    $.each(firstAndroidSystemName, function (i, name) {
                        var sub_map = new HashMap();
                        var drilldownCategories = android_system_big.get(name);
                        sub_map.set('drilldownCategories', drilldownCategories);
                        var drilldownData = [];
                        var firstLevelCount = 0;
                        $.each(drilldownCategories, function (i, cate) {
                            var cnt = android_system_count_map.get(name+cate) / android_system_total * 100;
                            drilldownData.push(round(cnt, 2));
                            firstLevelCount = firstLevelCount + round(cnt, 2);
                        });
                        sub_map.set('drilldownData', drilldownData);
                        sub_map.set('y', round(firstLevelCount, 2));
                        android_system_map.set(name, sub_map);
                    });
                    android_system_map.set('firstLevelSeriesName', "System");
                    android_system_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(android_system_element, android_system_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            var android_app_element=$('#android_app');
            var android_app_count_map=new HashMap();
            var android_app_big=new HashMap();
            var firstAndroidAppName=new Array();
            var android_app_total=0;
            $.getJSON('get_android_app',function (androidAppJSONObjects) {
                $.each(androidAppJSONObjects,function (i,androidAppJSONObject) {
                    android_app_count_map.set(androidAppJSONObject.name,androidAppJSONObject.count);
                    android_app_total=android_app_total+androidAppJSONObject.count;
                    var array=androidAppJSONObject.name.slice(0,1);
                    var array2=androidAppJSONObject.name.slice(1,20);
                    var arr=[];
                    if(android_app_big.has(array)){
                        android_app_big.get(array).push(array2);
                    }else{
                        arr.push(array2);
                        firstAndroidAppName.push(array);
                        android_app_big.set(array,arr);
                    }
                });
                var android_app_map=new HashMap();
                $.each(firstAndroidAppName, function (i, name) {
                    var sub_map = new HashMap();
                    var drilldownCategories = android_app_big.get(name);
                    sub_map.set('drilldownCategories', drilldownCategories);
                    var drilldownData = [];
                    var firstLevelCount = 0;
                    $.each(drilldownCategories, function (i, cate) {
                        var cnt = android_app_count_map.get(name+cate) / android_app_total * 100;
                        drilldownData.push(round(cnt, 2));
                        firstLevelCount = firstLevelCount + round(cnt, 2);
                    });
                    sub_map.set('drilldownData', drilldownData);
                    sub_map.set('y', round(firstLevelCount, 2));
                    android_app_map.set(name, sub_map);
                });
                android_app_map.set('firstLevelSeriesName', "App");
                android_app_map.set('secondLevelSeriesName', "Versions");
                createPieHighChart(android_app_element, android_app_map);
            });


            var ios_system_element=$('#ios_system');
            ios_system_element.waypoint(function(direction) {
                var ios_system_count_map=new HashMap();
                var ios_system_big=new HashMap();
                var firstIosSystemName=new Array();
                var ios_system_total=0;
                $.getJSON('get_ios_system',function (iosSystemJSONObjects) {
                    $.each(iosSystemJSONObjects,function (i,iosSystemJSONObject) {
                        ios_system_count_map.set(iosSystemJSONObject.name,iosSystemJSONObject.count);
                        ios_system_total=ios_system_total+iosSystemJSONObject.count;
                        var wholeName=iosSystemJSONObject.name.split("::");
                        var array=wholeName[0];
                        var array2=wholeName[1];
                        var arr=[];
                        if(ios_system_big.has(array)){
                            ios_system_big.get(array).push(array2);
                        }else{
                            arr.push(array2);
                            firstIosSystemName.push(array);
                            ios_system_big.set(array,arr);
                        }
                    });
                    var ios_system_map=new HashMap();

                    $.each(firstIosSystemName, function (i, name) {
                        var sub_map = new HashMap();
                        var drilldownCategories = ios_system_big.get(name);
                        sub_map.set('drilldownCategories', drilldownCategories);
                        var drilldownData = [];
                        var firstLevelCount = 0;
                        $.each(drilldownCategories, function (i, cate) {
                            var cnt = ios_system_count_map.get(name+"::"+cate) / ios_system_total * 100;
                            drilldownData.push(round(cnt, 2));
                            firstLevelCount = firstLevelCount + round(cnt, 2);
                        });
                        sub_map.set('drilldownData', drilldownData);
                        sub_map.set('y', round(firstLevelCount, 2));
                        ios_system_map.set(name, sub_map);
                    });
                    ios_system_map.set('firstLevelSeriesName', "System");
                    ios_system_map.set('secondLevelSeriesName', "Versions");
                    createPieHighChart(ios_system_element, ios_system_map);
                });
                this.destroy();
            }, {
                offset: 'bottom-in-view'
            });

            var ios_app_element=$('#ios_app');
            var ios_app_count_map=new HashMap();
            var firstIosAppName=new Array();
            var ios_app_total=0;
            $.getJSON('get_ios_app',function (iosAppJSONObjects) {
                $.each(iosAppJSONObjects,function (i,iosAppJSONObject) {
                    ios_app_count_map.set(iosAppJSONObject.name,iosAppJSONObject.count);
                    ios_app_total=ios_app_total+iosAppJSONObject.count;
                    firstIosAppName.push(iosAppJSONObject.name);
                });
                var ios_app_map=new HashMap();

                $.each(firstIosAppName, function (i, name) {
                    var sub_map = new HashMap();
                    sub_map.set('drilldownCategories', name);
                    var drilldownData = [];
                    var firstLevelCount = 0;
                    var cnt = ios_app_count_map.get(name) / ios_app_total * 100;
                    drilldownData.push(round(cnt, 2));
                    firstLevelCount = firstLevelCount + round(cnt, 2);
                    sub_map.set('drilldownData', drilldownData);
                    sub_map.set('y', round(firstLevelCount, 2));
                    ios_app_map.set(name, sub_map);
                });
                ios_app_map.set('firstLevelSeriesName', "App");
                creteSimplePieHighChart(ios_app_element,ios_app_map);
            });

            var pc_system_element=$('#pc_system');
            var pc_system_count_map=new HashMap();
            var firstPCSystemName=new Array();
            var pc_system_total=0;
            $.getJSON('get_pc_system',function (pcSystemJSONObjects) {
                $.each(pcSystemJSONObjects,function (i,pcSystemJSONObject) {
                    pc_system_count_map.set(pcSystemJSONObject.name,pcSystemJSONObject.count);
                    pc_system_total=pc_system_total+pcSystemJSONObject.count;
                    firstPCSystemName.push(pcSystemJSONObject.name);
                });
                var pc_system_map=new HashMap();

                $.each(firstPCSystemName, function (i, name) {
                    var sub_map = new HashMap();
                    sub_map.set('drilldownCategories', name);
                    var drilldownData = [];
                    var firstLevelCount = 0;
                    var cnt = pc_system_count_map.get(name) / pc_system_total * 100;
                    drilldownData.push(round(cnt, 2));
                    firstLevelCount = firstLevelCount + round(cnt, 2);
                    sub_map.set('drilldownData', drilldownData);
                    sub_map.set('y', round(firstLevelCount, 2));
                    pc_system_map.set(name, sub_map);
                });
                pc_system_map.set('firstLevelSeriesName', "App");
                creteSimplePieHighChart(pc_system_element,pc_system_map);
            });

            var pc_app_element=$('#pc_app');
            var pc_app_count_map=new HashMap();
            var pc_app_big=new HashMap();
            var firstPCAppName=new Array();
            var pc_app_total=0;
            $.getJSON('get_pc_app',function (pcAppJSONObjects) {
                $.each(pcAppJSONObjects,function (i,pcAppJSONObject) {
                    pc_app_count_map.set(pcAppJSONObject.name,pcAppJSONObject.count);
                    pc_app_total=pc_app_total+pcAppJSONObject.count;
                    var array=pcAppJSONObject.name.slice(0,1);
                    var array2=pcAppJSONObject.name.slice(1,20);
                    var arr=[];
                    if(pc_app_big.has(array)){
                        pc_app_big.get(array).push(array2);
                    }else{
                        arr.push(array2);
                        firstPCAppName.push(array);
                        pc_app_big.set(array,arr);
                    }
                });
                var pc_app_map=new HashMap();
                $.each(firstPCAppName, function (i, name) {
                    var sub_map = new HashMap();
                    var drilldownCategories = pc_app_big.get(name);
                    sub_map.set('drilldownCategories', drilldownCategories);
                    var drilldownData = [];
                    var firstLevelCount = 0;
                    $.each(drilldownCategories, function (i, cate) {
                        var cnt = pc_app_count_map.get(name+cate) / pc_app_total * 100;
                        drilldownData.push(round(cnt, 2));
                        firstLevelCount = firstLevelCount + round(cnt, 2);
                    });
                    sub_map.set('drilldownData', drilldownData);
                    sub_map.set('y', round(firstLevelCount, 2));
                    pc_app_map.set(name, sub_map);
                });
                pc_app_map.set('firstLevelSeriesName', "App");
                pc_app_map.set('secondLevelSeriesName', "Versions");
                createPieHighChart(pc_app_element, pc_app_map);
            });

            $.getJSON('get_web_hot_spot', function (data) {
                var hot_spot_element = $('#web_student_hot_spot_chart');
                createScatterHighChart(hot_spot_element, data);
            });

        });
    </script>
</div>
</body>
</html>