<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<div th:fragment="navLeft">
    <div class="navbar-default sidebar" role="navigation">
        <ul class="metismenu nav" id="menu">
            <!--<li th:if="${ROLE_ADMIN} == true">-->
            <li th:if="${ROLE_MARKET} == true">
                <a href="#" aria-expanded="false"><i class="fa fa-dashboard fa-fw"></i> 市场</a>
                <ul aria-expanded="false" class="nav nav-second-level">
                    <li>
                        <a href="#" name="reg---regContent"><i class="fa fa-table fa-fw"></i>注册学员分布</a>
                    </li>
                    <li>
                        <a href="#" name="pay---payContent"><i class="fa fa-table fa-fw"></i>付费学员分布</a>
                    </li>
                </ul>
            </li>
            <li th:if="${ROLE_FT_ASSISTANT == true or ROLE_SALE==true or ROLE_TUTOR==true or ROLE_TEACHING==true}">
                <a href="" aria-expanded="false"><i class="fa fa-dashboard fa-fw"></i> 青少</a>
                <ul aria-expanded="false" class="nav nav-second-level">
                    <li th:if="${ROLE_FT_ASSISTANT} == true">
                        <a href="#" name="qingshao---manageCostClass"><i class="fa fa-table fa-fw"></i>外管--学生耗课量</a>
                    </li>
                    <li th:if="${ROLE_FT_ASSISTANT} == true">
                        <a href="#" name="qingshao---manageSaClass"><i class="fa fa-table fa-fw"></i>外管--SA上课记录</a>
                    </li>
                    <li th:if="${ROLE_SALE} == true">
                        <a href="#" name="qingshao---payNewStudent"><i class="fa fa-table fa-fw"></i>销售--新注册会员</a>
                    </li>
                    <li th:if="${ROLE_SALE} == true">
                        <a href="#" name="qingshao---payOldStudent"><i class="fa fa-table fa-fw"></i>销售--已买课学员</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workStudentMessage"><i class="fa fa-table fa-fw"></i>导师--学生信息</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workStudentLogin"><i class="fa fa-table fa-fw"></i>导师--登陆行为高峰</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workClassMessage"><i class="fa fa-table fa-fw"></i>导师--课程信息</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workLoseStudent"><i class="fa fa-table fa-fw"></i>导师--连续未选课学员</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workRenew"><i class="fa fa-table fa-fw"></i>导师--学员续费</a>
                    </li>
                    <li th:if="${ROLE_TUTOR} == true">
                        <a href="#" name="qingshao---workRefunds"><i class="fa fa-table fa-fw"></i>导师--学员退款</a>
                    </li>
                    <li th:if="${ROLE_TEACHING} == true">
                        <a href="#" name="qingshao---bookChooseClass"><i class="fa fa-table fa-fw"></i>教研--教材选课情况</a>
                    </li>
                    <li th:if="${ROLE_TEACHING} == true">
                        <a href="#" name="qingshao---bookRank"><i class="fa fa-table fa-fw"></i>教研--教材和学生各级别情况</a>
                    </li>
                    <li th:if="${ROLE_TEACHING} == true">
                        <a href="#" name="qingshao---bookChooseStudentType"><i class="fa fa-table fa-fw"></i>教研--学生属性查询</a>
                    </li>
                </ul>
            </li>
            <li class="active" th:if="${ROLE_JISHU} == true">
                <a href="#" name="overview---webContent" aria-expanded="true"><i class="fa fa-table fa-fw"></i> Web端</a>
                <ul aria-expanded="true" class="nav nav-second-level">
                    <li>
                        <a href="#" name="web---stuWebActionContent"><i class="fa fa-table fa-fw"></i> 学生行为日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---teaWebActionContent"><i class="fa fa-table fa-fw"></i> 教师行为日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---userWebActionContent"><i class="fa fa-table fa-fw"></i> 后台管理日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---crmWebActionContent"><i class="fa fa-table fa-fw"></i> CRM日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---errorWebActionContent"><i class="fa fa-table fa-fw"></i> 错误日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---debugWebActionContent"><i class="fa fa-table fa-fw"></i> 调试日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---cronWebActionContent"><i class="fa fa-table fa-fw"></i> 定时任务日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---roleWebActionContent"><i class="fa fa-table fa-fw"></i>
                            后台权限变更日志</a>
                    </li>
                    <li>
                        <a href="#" name="web---propertyWebActionContent"><i class="fa fa-table fa-fw"></i>
                            学员属性更改日志</a>
                    </li>
                </ul>
            </li>
            <li th:if="${ROLE_JISHU} == true">
                <a href="#" name="overview---mobileContent" aria-expanded="false"><i class="fa fa-table fa-fw"></i> 移动端</a>
                <ul aria-expanded="false" class="nav nav-second-level">
                    <li>
                        <a href="#" name="mobile---stuAndroidAPIActionContent"><i class="fa fa-table fa-fw"></i>Android学生行为日志</a>
                    </li>
                    <li>
                        <a href="#" name="mobile---androidDevices"><i class="fa fa-table fa-fw"></i>Android学生设备使用情况</a>
                    </li>
                    <li>
                        <a href="#" name="mobile---androidCrash"><i class="fa fa-table fa-fw"></i>Android学生Crash情况</a>
                    </li>
                    <li>
                        <a href="#" name="mobile---stuIosAPIActionContent"><i class="fa fa-table fa-fw"></i>
                            IOS学生行为日志</a>
                    </li>
                </ul>
            </li>
            <li th:if="${ROLE_JISHU} == true">
                <a href="#" name="overview---pcContent" aria-expanded="false"><i class="fa fa-table fa-fw"></i> PC端</a>
                <ul aria-expanded="false" class="nav nav-second-level">
                    <li>
                        <a href="#" name="pc---stuPCAPIActionContent"><i class="fa fa-table fa-fw"></i> 学生行为日志</a>
                    </li>
                    <li>
                        <a href="#" name="pc---teaPCAPIActionContent"><i class="fa fa-table fa-fw"></i> 教师行为日志</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<div th:fragment="navLeftScript">
    <script>
        $(function () {
            $('#menu').metisMenu();

            $("#menu > li > a").each(function (index) {
                $(this).on("click", function () {
                    $("#content").empty();
                    var templateName = $(this).attr("name");
                    if(templateName){
                        $("#content").load("/overview/" + templateName,function(response, status, xhr) {
                            if(response.indexOf("Log in with your account") > -1){
                                window.location.href="/login";
                            }
                        });
                    }
                });
            });

            $(".nav-second-level li a").each(function (index) {
                $(this).unbind('click');
                $(this).on("click", function () {
                    $("#content").empty();
                    var templateName = $(this).attr("name");
                    if(templateName) {
                        $("#content").load("/table/" + templateName,function(response, status, xhr) {
                            if(response.indexOf("Log in with your account") > -1){
                                window.location.href="/login";
                            }
                        });
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>