<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body th:fragment="script">
<script th:src="@{//cdn.bootcss.com/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script th:src="@{//cdn.jsdelivr.net/sockjs/1/sockjs.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/datatables/1.10.12/js/jquery.dataTables.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/datatables/1.10.12/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/hashmap.js}"></script>
</body>
</html>