<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>后台管理</title>
    <th:block th:include="admin/common/globalHeader :: head"></th:block>
</head>

<body>
<th:block th:include="admin/common/globalScript :: script"></th:block>
<th:block th:include="admin/common/navTop :: navTop"></th:block>
<div id="adminView" class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <th:block th:include="admin/common/navLeft :: navLeft"></th:block>
        </div>
        <div id="contentView" class="col-lg-10 col-md-10">

        </div>
    </div>
</div>

</body>

</html>
