<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>ABC360 Data</title>
    <th:block th:include="fragments/globalheader :: head"></th:block>
</head>
<body>

<div id="wrapper" class="container">
    <div class="row">
        <div class="col-lg-12">
            <th:block th:include="fragments/navTop :: navTop"></th:block>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <th:block th:include="fragments/navLeft :: navLeft"></th:block>
        </div>
        <div id="content" class="col-lg-10">
            <th:block th:include="@{'fragments/' + ${templateName}} :: ${templateName}"></th:block>
        </div>
    </div>
</div>

<th:block th:include="fragments/globalscript :: script"></th:block>
<th:block th:include="fragments/navLeft :: navLeftScript"></th:block>
<th:block th:include="@{'fragments/' + ${templateName}} :: ${templateName}+'Script'"></th:block>
</body>
</html>